.site-list {
  font-weight: normal;

}

.site-list__item a {
  display: block;
  padding: 12px 21px;
  padding-bottom: 13px;

  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;

  background-color: #283645;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000;
}

.site-list a[href] {
  &:hover {
    color: rgba(210, 40, 86, 1);
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
    background-color: #283645;
    border-top-color: #283645;
  }
}

@media (min-width: $tablet-width) {

  .site-list__item a {
  padding: 25px 25px 25px;
  }
}

@media (min-width: $desktop-width) {

  .site-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
  }

  .site-list__item {

    position: relative;
    margin-left: 15px;

    &:first-child {
      margin-left: 0;
    }

    &--current::after {
        content: "";

        position: absolute;
        bottom: 0px;
        right: 30px;
        left: 30px;

        height: 3px;

        background: #ffffff;
    }
  }

  .site-list__item a {
    padding: 0 31px;
    margin-bottom: 10px;

    font-size: 16px;
    line-height: 28px;
    background: none;
    border: none;
  }

  .site-list__item a[href] {
    &:hover {
      color: #d22856;

      background-color: transparent;

      &::after {
        content: "";

        position: absolute;
        bottom: 0px;
        right: 30px;
        left: 30px;

        height: 3px;

        background: #d22856;
      }
    }

    &:active {
      color: rgba(210, 40, 86, 0.3);

      background-color: transparent;
      opacity: 1;

      &::after {
        background: rgba(210, 40, 86, 0.3);
      }
    }
  }
}

