$color-main: White;
$color-secondary: black;
$bg-light: #ffffff;
$bg-dark: #1d2631;
$tablet-width: 660px;
$desktop-width: 940px;
$mobile-width-only: 659px;
$tablet-width-only: 939px;
$retina-dpi: 144dpi;
$retina-dppx:1.5dppx;
